.wrapper

  = render 'shared/side_bar'

  .chat-main
    .main-header
      .left-box
        .left-box__title
          = @group.name
        %ul.left-box__members
          Member:
          %li.member
            - @group.users.each do |user|
              = user.name
      .right-box
        =link_to edit_group_path(@group) do
          .right-box__button Edit

    .messages
      = render @messages
      
    .form
      = form_for [@group, @message] do |f|
        .form__message
          .form__message__box
            = f.text_field :content, class: 'form__message__box__text', placeholder: 'type a message'
            = f.label :image, class: 'form__message__box__image' do
              = fa_icon 'image', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__message__submit', id: 'button'
